 <div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Currently Inactive Families</h4>
                        </div>
                        <div class="col-md-6 text-right">
                          <button class="btn btn-info" routerLink="/family/">
                            <span class="btn-label">
                              <i class="nc-icon nc-single-02"></i>
                            </span>
                            Return to Cancer Warrior's Page
                          </button>
                        </div>
                  </div>
              </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->

                    </div>
                    <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                              <th>{{ inactiveFamilyTable.headerRow[0] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[1] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[2] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[3] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[4] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[5] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[6] }}</th>
                              <th class="disabled-sorting">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                              <th>{{ inactiveFamilyTable.footerRow[0] }}</th>
                              <th>{{ inactiveFamilyTable.footerRow[1] }}</th>
                              <th>{{ inactiveFamilyTable.footerRow[2] }}</th>
                              <th>{{ inactiveFamilyTable.footerRow[3] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[4] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[5] }}</th>
                              <th>{{ inactiveFamilyTable.headerRow[6] }}</th>

                              <th class="disabled-sorting">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let row of (inactiveFamilyTable.dataRows || [])">
                                <td>{{row.id}}</td>
                                <td>{{row.first_name}}</td>
                                <td>{{row.last_name}}</td>
                                <td>{{row.email}}</td>
                                <td>{{row.street_address}}</td>
                                <td>{{row.end_of_treatment_date}}</td>
                                <td>{{ row.active | yesNoActive }}</td>
                                <td class="text-right">
                                  <a *ngIf="row.active != 1" [routerLink] (click)="markFamilyActive(row.id)" class="btn btn-success btn-link btn-icon btn-lg active"><i class="fa fa-check"></i></a>
                                  <a *ngIf="row.active == 1" [routerLink] (click)="markFamilyInactive(row.id)" class="btn btn-danger btn-link btn-icon btn-lg inactive"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  <!-- end row -->
  </div>
