<div class="main-content">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header">
                <div class="row">
                      <div class="col-md-6">
                          <h4 class="card-title">Active Requests</h4>
                      </div>
                      <div class="col-md-6 text-right">
                          <button class="btn btn-info" routerLink="/services/new">
                              <span class="btn-label">
                                <i class="nc-icon nc-badge"></i>
                              </span>
                              View Service Request Form
                          </button>
                      </div>
                </div>
            </div>
              <div class="card-body">
                  <div class="toolbar">
                      <!--        Here you can write extra buttons/actions for the toolbar              -->

                  </div>
                  <table id="activetable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                            <th>{{ activeDataTable.headerRow[0] }}</th>
                            <th>{{ activeDataTable.headerRow[1] }}</th>
                            <th>{{ activeDataTable.headerRow[2] }}</th>
                            <th>{{ activeDataTable.headerRow[3] }}</th>
                            <th>{{ activeDataTable.headerRow[4] }}</th>
                            <th>{{ activeDataTable.headerRow[5] }}</th>
                            <th class="disabled-sorting">Actions</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                            <th>{{ activeDataTable.footerRow[0] }}</th>
                            <th>{{ activeDataTable.footerRow[1] }}</th>
                            <th>{{ activeDataTable.footerRow[2] }}</th>
                            <th>{{ activeDataTable.footerRow[3] }}</th>
                            <th>{{ activeDataTable.footerRow[4] }}</th>
                            <th>{{ activeDataTable.footerRow[5] }}</th>
                            <th class="disabled-sorting">Actions</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <tr *ngFor="let row of (activeDataTable.dataRows || [])">
                              <td>{{ row.family_name }}</td>
                              <td>{{ row.business_category }}</td>
                              <td>{{ row.business_name }}</td>
                              <td>{{ row.date_requested }}</td>
                              <td>{{ row.notified_business | yesNo }}</td>
                              <td>{{ row.notified_family | yesNo }}</td>
                              <td class="text-left">
                                <a [routerLink]="['/services/edit']" [queryParams]="{ familyName: row.family_name}" routerLinkActive="active" class="btn btn-success btn-link btn-icon btn-sm edit"><i class="fa fa-edit"></i></a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <!-- end content-->
          </div>
          <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
              <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Services Rendered</h4>
                    </div>
                  </div>
          </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->

                </div>
                <table id="renderedtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                          <th>{{ renderedDataTable.headerRow[0] }}</th>
                          <th>{{ renderedDataTable.headerRow[1] }}</th>
                          <th>{{ renderedDataTable.headerRow[2] }}</th>
                          <th>{{ renderedDataTable.headerRow[3] }}</th>
                          <th>{{ renderedDataTable.headerRow[4] }}</th>
                          <th>{{ renderedDataTable.headerRow[5] }}</th>
                          <th>{{ renderedDataTable.headerRow[6] }}</th>
                          <th class="disabled-sorting">Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>{{ renderedDataTable.footerRow[0] }}</th>
                          <th>{{ renderedDataTable.footerRow[1] }}</th>
                          <th>{{ renderedDataTable.footerRow[2] }}</th>
                          <th>{{ renderedDataTable.footerRow[3] }}</th>
                          <th>{{ renderedDataTable.footerRow[4] }}</th>
                          <th>{{ renderedDataTable.footerRow[5] }}</th>
                          <th>{{ renderedDataTable.footerRow[6] }}</th>
                          <th class="disabled-sorting">Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let row of (renderedDataTable.dataRows || [])">
                        <td>{{ row.family_name }}</td>
                        <td>{{ row.business_category }}</td>
                        <td>{{ row.business_name }}</td>
                        <td>{{ row.date_requested }}</td>
                        <td>{{ row.date_fulfilled }}</td>
                        <td>{{ row.followedup_business | yesNo }}</td>
                        <td>{{ row.followedup_family | yesNo }}</td>
                        <td class="text-left">
                          <a href="javascript:void(0)" class="btn btn-warning btn-link btn-icon btn-sm edit"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
<!-- end row -->
</div>
