<div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <form #f="ngForm" novalidate (ngSubmit)="onSave(templateForm)" #templateForm="ngForm" novalidate enctype="multipart/form-data">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 pull-left">
                            <h5 class="title">Volunteer Profile</h5>
                        </div>
                        
                        
                        <div class="col-md-6 text-right" >
                            <button type="button" class="btn btn-default" routerLink="/volunteers">
                                <span class="btn-label">
                                  <i class="nc-icon nc-bullet-list-67"></i>
                                </span>
                                Cancel
                            </button>

                            <!-- Hiding save button if is in view mode -->
                            <button type="button" class="btn btn-default" (click)="changePassword()" *ngIf="editMode">
                                <span class="btn-label">
                                    <i class="nc-icon nc-lock-circle-open"></i>
                                </span>
                                Change Password
                            </button>

                            <!-- Hiding save button if is in view mode -->
                            <button class="btn btn-success" type="submit" *ngIf="!viewMode">
                                <span class="btn-label">
                                  <i class="nc-icon nc-box"></i>
                                </span>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Personal Information</h4>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" [ngModel]="user?.first_name" #firstName="ngModel" required maxlength="30" minlength="1" [readonly]="viewMode">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched || errorInForm)" class="text-danger">
                                    <div *ngIf="(firstName.errors.required)">
                                    Name is required.
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" [ngModel]="user?.last_name" ngModel #lastName="ngModel" required [readonly]="viewMode">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched || errorInForm)" class="text-danger">
                                    <div *ngIf="lastName.errors.required">
                                    Last name is required.
                                    </div>
                                </div>
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"  [ngModel]="user?.email" ngModel #email="ngModel" placeholder="you@example.com" required [readonly]="viewMode"> 
                                    <div *ngIf="email.invalid && (email.dirty || email.touched || errorInForm)" class="text-danger">
                                        <div *ngIf="email.errors.required">
                                        Email is required.
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-12">
                                        <div *ngIf="emailInUser" class="text-danger">
                                            This email is already in use.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" [ngModel]="user?.username" ngModel #username="ngModel" placeholder="Username" required [readonly]="viewMode">
                                    <div *ngIf="username.invalid && (username.dirty || username.touched || errorInForm)" class="text-danger">
                                        <div *ngIf="username.errors.required">
                                        Username is required.
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-12">
                                        <div *ngIf="usernameInUse" class="text-danger">
                                            This username is already in use.
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <!-- Hiding Password fields if is in view or edit mode -->
                            <div class="row" *ngIf="creationMode == true">
                                <div class="col-md-6 mb-3">
                                    <label for="email">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" ngModel #password="ngModel" required >
                                    <div class="invalid-feedback">
                                        Please enter a valid password.
                                    </div>
                                    <div *ngIf="password.invalid && (password.dirty || password.touched || errorInForm)" class="text-danger">
                                        <div *ngIf="password.errors.required">
                                            Password is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="email">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel #confirmPassword="ngModel" required>
                                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || errorInForm)" class="text-danger">
                                        <div *ngIf="confirmPassword.errors.required">
                                        Confirm password is required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div *ngIf="passwordMatch == false" class="text-danger">
                                        Passwords must match.
                                    </div>
                                </div>
                            </div>
                
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address" [ngModel]="user?.address" ngModel #address="ngModel" placeholder="1234 Main St" required [readonly]="viewMode">
                                <div *ngIf="address.invalid && (address.dirty || address.touched || errorInForm)" class="text-danger">
                                <div *ngIf="address.errors.required">
                                    Address is required.
                                </div>
                                </div>
                            </div>
                
                            <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="homePhone">Home Phone</label>
                                <input type="tel" class="form-control" id="homePhone" name="homePhone" [ngModel]="user?.home_phone" ngModel #homePhone="ngModel" placeholder="(555)-555-5555" [readonly]="viewMode">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cellPhone">Cell Phone</label>
                                <input type="text" class="form-control" id="cellPhone" name="cellPhone" [ngModel]="user?.cell_phone" ngModel #cellPhone="ngModel" placeholder="(555)-555-5555" required [readonly]="viewMode">
                                <div *ngIf="cellPhone.invalid && (cellPhone.dirty || cellPhone.touched || errorInForm)" class="text-danger">
                                <div *ngIf="cellPhone.errors.required">
                                    Cell phone is required.
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="workPhone">Work Phone</label>
                                <input type="tel" class="form-control" id="workPhone" name="workPhone" [ngModel]="user?.work_phone" ngModel #workPhone="ngModel" placeholder="(555)-555-5555" [readonly]="viewMode">
                            </div>
                
                            <div class="col-md-6 mb-3">
                                <label for="education">Education</label>
                                <select class="custom-select d-block w-100" id="education" name="education" [ngModel]="user?.educational_background" ngModel #education="ngModel" [disabled]="viewMode">
                                    <option *ngFor="let education of educationLevelList" [ngValue]="education.id">
                                        {{education.description}}
                                    </option>
                                </select>
                                <div *ngIf="education.invalid && (education.dirty || education.touched || errorInForm)" class="text-danger">
                                <div *ngIf="education.errors.required">
                                    Education is required.
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="licenses">Licenses</label>
                                <textarea class="form-control" id="licenses" name="licenses" [ngModel]="user?.current_licenses" ngModel #licenses="ngModel" [readonly]="viewMode"></textarea>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="availability">Availability</label>
                                <textarea class="form-control" id="availability" name="availability" [ngModel]="user?.availability" ngModel #availability="ngModel" [readonly]="viewMode"></textarea>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="role">Role</label>
                                    <select class="custom-select d-block w-100" id="role" name="role" [ngModel]="user?.role" ngModel #role="ngModel" required [disabled]="viewMode">
                                        <option *ngFor="let role of roleList" [ngValue]="role.id">
                                            {{role.description}}
                                        </option>
                                    </select>
                                    <div *ngIf="role.invalid && (role.dirty || role.touched || errorInForm)" class="text-danger">
                                    <div *ngIf="role.errors.required">
                                        Role is required.
                                    </div>
                                    </div>
                                </div>
                    
                                <div class="col-md-6 mb-3">
                                    <label for="status">Status</label>
                                    <select class="custom-select d-block w-100" id="status" name="status" [ngModel]="user?.status" ngModel #status="ngModel" required [disabled]="viewMode">
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                    </select>
                                    <div *ngIf="status.invalid && (status.dirty || status.touched || errorInForm)" class="text-danger">
                                    <div *ngIf="status.errors.required">
                                        Status is required.
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="driversLicense" name="driversLicense" ngModel #driversLicense="ngModel">
                                    <label class="form-check-label" for="driversLicense">Drivers License</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="checkbox" class="form-check-input" id="socialSecurity" name="socialSecurity" ngModel #socialSecurity="ngModel">
                                    <label class="form-check-label" for="socialSecurity">Social Security</label>
                                </div>
                            </div> -->
                        </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Emergency Contact</h4>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                    <label for="emergencyFirstName">First name</label>
                                    <input type="text" class="form-control" id="emergencyFirstName" name="emergencyFirstName" [ngModel]="user?.emergency_contact_name" ngModel #emergencyFirstName="ngModel" [readonly]="viewMode">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                    <label for="emergencyLastName">Last name</label>
                                    <input type="text" class="form-control" id="emergencyLastName" name="emergencyLastName" [ngModel]="user?.emergency_contact_lastname" ngModel #emergencyLastName="ngModel" [readonly]="viewMode">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                    <label for="emergencyEmail">Email</label>
                                    <input type="email" class="form-control" id="emergencyEmail" name="emergencyEmail" [ngModel]="user?.emergency_contact_email" ngModel #emergencyEmail="ngModel" placeholder="you@example.com" [readonly]="viewMode">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                    <label for="emergencyPhone">Phone Number</label>
                                    <input type="tel" class="form-control" id="emergencyPhone" name="emergencyPhone" [ngModel]="user?.emergency_contact_phone" ngModel #emergencyPhone="ngModel" placeholder="(555)-555-5555" [readonly]="viewMode">
                                    </div>
                                </div>
                    
                                <div class="mb-3">
                                    <label for="emergencyAddress">Address</label>
                                    <input type="text" class="form-control" id="emergencyAddress" name="emergencyAddress" [ngModel]="user?.emergency_contact_address" ngModel #emergencyAddress="ngModel" placeholder="1234 Main St" [readonly]="viewMode">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Profile Picture</h4>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail">
                                                <img *ngIf="!profileURL" src="../../assets/img/default-avatar.png" alt="...">
                                                <img *ngIf="profileURL" src="{{profileURL}}" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                            <div>
                                                <span class="btn btn-rose btn-round btn-file">
                                                    <span class="fileinput-new">Select image</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" name="profilePicture" id="profilePicture" accept="image/*" (change)="handleFileInput($event.target.files)"/>
                                                </span>
                                                <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  