<div class="main-content">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Number of families in system</p>
                <p class="card-title">150
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Businesses in the System</p>
                <p class="card-title">48
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i> Last day
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Pending Service Requests</p>
                <p class="card-title">9
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i> In the last 12 days
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left">
                $348
              </div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <span class="badge badge-pill badge-success">
                  +18%
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="big-title">Family Budget Spent within the last 10 Months</h6>
          <canvas id="activeUsers" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr>
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title">Budget of ______ Family Here</div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-success btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-simple-add"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">VPizza Statistics</h5>
          <p class="card-category">Percentage of families with VPizza Voucher</p>
        </div>
        <div class="card-body ">
          <canvas id="chartDonut1" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-info"></i> Sent
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Number of vouchers sent
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card ">
        <div class="card-body ">
          <canvas id="chartActivity"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">New Visitators</h5>
          <p class="card-category">Out Of Total Number</p>
        </div>
        <div class="card-body ">
          <canvas id="chartDonut2" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-warning"></i> Visited
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-check"></i> Campaign sent 2 days ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Orders</h5>
          <p class="card-category">Total number</p>
        </div>
        <div class="card-body ">
          <canvas id="chartDonut3" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-danger"></i> Completed
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-clock-o"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Subscriptions</h5>
          <p class="card-category">Our Users</p>
        </div>
        <div class="card-body ">
          <canvas id="chartDonut4" class="ct-chart ct-perfect-fourth" width="456" height="300"></canvas>
        </div>
        <div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-secondary"></i> Ended
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-history"></i> Total users
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
