<div class="main-content">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-air-baloon text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Families Added</p>
                <p class="card-title">{{familiesAddedThisMonth}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i> Since Last Month
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-check-2 text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Families To Approve</p>
                <p class="card-title">{{familiesToApprove?.length}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh spin"></i> Updated Just Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-shop text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Businesses Added</p>
                <p class="card-title">{{businessesAddedThisMonth}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i> Since Last Month
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-check-2 text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Businesses To Approve</p>
                <p class="card-title">{{businessesToApprove?.length}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh spin"></i> Updated Just Now
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title">Families to Approve</h4>
        </div>
        <div class="card-body ">
            <table  id="familiesToApprove" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>{{ dataTable?.headerRow[0] }}</th>
                  <th>{{ dataTable?.headerRow[1] }}</th>
                  <th>{{ dataTable?.headerRow[2] }}</th>
                  <th>{{ dataTable?.headerRow[3] }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of dataTable.dataRows; let i = index" [attr.data-index]="i">
                  <td>  
                    {{ i + 1 }}
                  </td>
                  <td>  
                    {{ row.first_name + " " + row.last_name }}
                  </td>
                  <td>  
                    {{ row.cancer_warrior_name }}
                  </td>
                  <td class="td-actions text-center">
                    <a  [routerLink]="['/family/view']" [queryParams]="{ volunteerId: row.id }" routerLinkActive="active" class="btn btn-info btn-link btn-icon btn-sm view"><i class="fa fa-eye"></i></a>
                    <a  [routerLink]="['/family/approve']" [queryParams]="{ volunteerId: row.id }" routerLinkActive="active" class="btn btn-warning btn-link btn-icon btn-sm view"><i class="fa fa-check"></i></a>
                    <a  [routerLink]="['/family/delete']" [queryParams]="{ volunteerId: row.id }" routerLinkActive="active" class="btn btn-danger btn-link btn-icon btn-sm view"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh spin"></i> Updated Just Now
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title">Businesses to Approve</h4>
        </div>
          <div class="card-body" >
            <table  id="businessesToApprove" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>{{ dataTableBusiness?.headerRow[0] }}</th>
                  <th>{{ dataTableBusiness?.headerRow[1] }}</th>
                  <th>{{ dataTableBusiness?.headerRow[2] }}</th>
                  <th>{{ dataTableBusiness?.headerRow[3] }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of dataTableBusiness.dataRows; let i = index" [attr.data-index]="i">
                  <td>  
                    {{ i + 1 }}
                  </td>
                  <td>  
                    {{ row.business_name }}
                  </td>
                  <td>  
                    {{ row.Services_Offered }}
                  </td>
                  <td class="td-actions text-center">
                    <a  [routerLink]="['/business/view']" [queryParams]="{ businessId: row.record_id, from: '/dashboard'}" routerLinkActive="active" class="btn btn-info btn-link btn-icon btn-sm view"><i class="fa fa-eye"></i></a>
                    <a *ngIf="userRole == 1" [routerLink]="['/business/edit']" [queryParams]="{ businessId: row.record_id, from: '/dashboard'}" routerLinkActive="active" class="btn btn-warning btn-link btn-icon btn-sm edit"><i class="fa fa-edit"></i></a>
                    <a  (click)="approvedBusiness(row.record_id, row.business_name)" class="btn btn-warning btn-link btn-icon btn-sm view"><i class="fa fa-check"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh spin"></i> Updated Just Now
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title">Services Requested This Month</h4>
        </div>
          <div class="card-body ">
            <table  id="requestsThisMonth" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>{{ dataTableRequests?.headerRow[0] }}</th>
                  <th>{{ dataTableRequests?.headerRow[1] }}</th>
                  <th>{{ dataTableRequests?.headerRow[2] }}</th>
                  <th>{{ dataTableRequests?.headerRow[3] }}</th>
                  <th>{{ dataTableRequests?.headerRow[4] }}</th>
                  <th>{{ dataTableRequests?.headerRow[5] }}</th>
                  <th>{{ dataTableRequests?.headerRow[6] }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of dataTableRequests.dataRows; let i = index" [attr.data-index]="i">
                  <td>  
                    {{ i + 1 }}
                  </td>
                  <td>  
                    {{ row.name }}
                  </td>
                  <td>  
                    {{ row.business_name }}
                  </td>
                  <td>  
                    {{ row.business_category }}
                  </td>
                  <td>  
                    {{ row.date_requested | date:'MM/dd/yyyy'}}
                  </td>
                  <td>  
                    {{ row.date_fulfilled | date:'MM/dd/yyyy'}}
                  </td>
                  <td class="td-actions text-center">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" [checked]="row.active" disabled>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>                  
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh spin"></i> Updated Just Now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
