<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <form #f="ngForm" novalidate (ngSubmit)="onSave(templateForm)" #templateForm="ngForm" novalidate enctype="multipart/form-data">
              <div class="card-header">
                  <div class="row">
                      <div class="col-md-6 pull-left">
                          <h5 class="title">Family Profile</h5>
                      </div>
                      <div class="col-md-6 text-right" >
                          <button type="button" class="btn btn-default" routerLink="/family">
                              <span class="btn-label">
                                <i class="nc-icon nc-bullet-list-67"></i>
                              </span>
                              Cancel
                          </button>
                            <button type="button" class="btn btn-default" (click)="approvedFamily(family?.id, family?.first_name)" *ngIf="!viewMode && !creationMode && !familyApproved">
                                <span class="btn-label">
                                <i class="nc-icon nc-check-2"></i>
                                </span>
                                Approve
                            </button>
                          <!-- Hiding save button if is in view mode -->
                          <button class="btn btn-success" type="submit" *ngIf="!viewMode">
                              <span class="btn-label">
                                <i class="nc-icon nc-box"></i>
                              </span>
                              Save
                          </button>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="row">
                  <div class="col-md-7">
                      <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">Personal Information</h4>
                          <div class ="row">
                              <div class = "col-md-5">

                                  <label for="cancer_warrior_name">Cancer Warrior's Name</label>
                                  <input type="text" class="form-control" id="cancer_warrior_name" name="cancer_warrior_name" [ngModel]="family?.cancer_warrior_name" [readonly]="viewMode" #cancer_warrior_name="ngModel" required maxlength="30" minlength="1">
                                  <div *ngIf="cancer_warrior_name.invalid && (cancer_warrior_name.dirty || cancer_warrior_name.touched || errorInForm)" class="text-danger">
                                      <div *ngIf="(cancer_warrior_name.errors.required)">
                                      Name is required.
                                      </div>
                                  </div>

                                  <label for="first_name">Contact's First name</label>
                                  <input type="text" class="form-control" id="first_name" name="first_name" [ngModel]="family?.first_name"  [readonly]="viewMode" #first_name="ngModel" required maxlength="30" minlength="1">
                                  <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched || errorInForm)" class="text-danger">
                                      <div *ngIf="(first_name.errors.required)">
                                      Name is required.
                                      </div>
                                  </div>

                                  <label for="last_name">Contact's Last name</label>
                                  <input type="text" class="form-control" id="last_name" name="last_name" [ngModel]="family?.last_name" [readonly]="viewMode" #last_name="ngModel" required>
                                  <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched || errorInForm)" class="text-danger">
                                      <div *ngIf="last_name.errors.required">
                                      Last name is required.
                                      </div>
                                  </div>

                                  <label for="relationship_to_warrior">What is your relationship to the Cancer?</label>
                                  <input type="text" class="form-control" id="relationship_to_warrior" name="relationship_to_warrior" [ngModel]="family?.relationship_to_warrior" [readonly]="viewMode" #relationship_to_warrior="ngModel"  required>
                                  <div *ngIf="relationship_to_warrior.invalid && (relationship_to_warrior.dirty || relationship_to_warrior.touched || errorInForm)" class="text-danger">
                                      <div *ngIf="relationship_to_warrior.errors.required">
                                              relationship is required.
                                      </div>
                                  </div>

                                  <label for="end_of_treatment_date">End of Treatment Date</label>
                                  <input type="text" class="form-control" id="end_of_treatment_date" name="end_of_treatment_date" [ngModel]="family?.end_of_treatment_date" [readonly]="viewMode" #end_of_treatment_date="ngModel"  required>
                                  <div *ngIf="end_of_treatment_date.invalid && (end_of_treatment_date.dirty || end_of_treatment_date.touched || errorInForm)" class="text-danger">
                                      <div *ngIf="end_of_treatment_date.errors.required">
                                              endOftreatmentDate is required.
                                      </div>
                                  </div>

                              </div>

                              <div class = "col-md-5">

                                  <label for="phone_number">Phone Number</label>
                                  <input type="text" class="form-control" id="phone_number" name="phone_number" [ngModel]="family?.phone_number" [readonly]="viewMode" #phone_number="ngModel" required maxlength="30" minlength="1">
                                  <div *ngIf="phone_number.invalid && (phone_number.dirty || phone_number.touched || errorInForm)" class="text-danger">
                                  <div *ngIf="(phone_number.errors.required)">
                                          Phone Number is required.
                                      </div>
                                  </div>


                                  <label for="work_phone">Work Phone</label>
                                  <input type="tel" class="form-control" id="work_phone" name="work_phone" [ngModel]="family?.work_phone"  [readonly]="viewMode" #work_phone="ngModel" >


                                  <label for="email">Email</label>
                                  <input type="text" class="form-control" id="email" name="email" [ngModel]="family?.email" [readonly]="viewMode" #email="ngModel"  required>
                                  <div *ngIf="email.invalid && (email.dirty || email.touched || errorInForm)" class="text-danger">
                                  <div *ngIf="email.errors.required">
                                              email is required.
                                      </div>
                                  </div>

                                  <label for="street_address">Address</label>
                                  <input type="text" class="form-control" id="street_address" name="street_address" [ngModel]="family?.street_address" [readonly]="viewMode" #street_address="ngModel"  required>
                                  <div *ngIf="street_address.invalid && (street_address.dirty || street_address.touched || errorInForm)" class="text-danger">
                                  <div *ngIf="street_address.errors.required">
                                      Address is required.
                                      </div>
                                  </div>

                                  <label for="zipcode">ZipCode</label>
                                  <input type="text" class="form-control" id="zipcode" name="zipcode" [ngModel]="family?.zipcode" [readonly]="viewMode" #zipcode="ngModel"  required>
                                  <div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched || errorInForm)" class="text-danger">
                                  <div *ngIf="zipcode.errors.required">
                                      Zipcode is required.
                                      </div>
                                  </div>

                                  <label for="familySize">Household Size</label>
                                  <input type="text" class="form-control" id="familySize" name="familySize" [ngModel]="family?.familySize" [readonly]="viewMode"  #familySize="ngModel"  >
                                  <div *ngIf="familySize.invalid && (familySize.dirty || familySize.touched || errorInForm)" class="text-danger">
                                  <div *ngIf="familySize.errors.required">
                                      Household Size is required.
                                      </div>
                                  </div>

                                  <label for="hearAbout">How did you hear about us?</label>
                                  <input type="text" class="form-control" id="hearAbout" name="hearAbout" [ngModel]="family?.hearAbout" [readonly]="viewMode" #hearAbout="ngModel" >
                                  <div *ngIf="hearAbout.invalid && (hearAbout.dirty || hearAbout.touched || errorInForm)" class="text-danger">
                                  <div *ngIf="hearAbout.errors.required">
                                      Household Size is required.
                                      </div>
                                  </div>
                              </div>

                          </div>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">Additional Information</h4>
                          <div class="row">
                          </div>
                          <div class="mb-3">
                              <label for="additional_info">Add any additional information you would like us to know about.</label>
                              <textarea class="form-control" id="additional_info" name="additional_info" [ngModel]="family?.additional_info"  [readonly]="viewMode" ngModel #additional_info="ngModel"></textarea>
                          </div>
                      </div>
                      </div>
                  </div>
                  <div class="col-md-5">
                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">V Pizza Gift Card Stuff Here</h4>
                              <div class="row">
                                  <div class="col-md-4"></div>
                                  <div class="col-md-8">
                                      <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                          <div class="fileinput-new thumbnail">
                                              <img *ngIf="!profileURL" src="../../assets/img/default-avatar.png" alt="...">
                                              <img *ngIf="profileURL" src="{{profileURL}}" alt="...">
                                          </div>
                                          <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                          <div>
                                              <span class="btn btn-rose btn-round btn-file">
                                                  <span class="fileinput-new">Select image</span>
                                                  <span class="fileinput-exists">Change</span>
                                                  <input type="file" name="profilePicture" id="profilePicture" accept="image/*" (change)="handleFileInput($event.target.files)"/>
                                              </span>
                                              <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>




                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">Family Checklist</h4>
                              <div class="row">
                                  <div class = "col-md-8">
                                  <ul class="list-group list-group-flush">
                                      <li class="list-group-item">
                                        <!-- Default checked -->
                                        <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" name ="welcomeLetter" id="welcomeLetter" [ngModel]="family?.welcomeLetter" #welcomeLetter="ngModel" >
                                          <label class="custom-control-label" for="welcomeLetter">Welcome Letter</label>
                                        </div>
                                      </li>
                                      <li class="list-group-item">
                                        <!-- Default checked -->
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name ="treamentLetter"id="treamentLetter" [ngModel]="family?.treamentLetter" #treamentLetter="ngModel">
                                            <label class="custom-control-label" for="treamentLetter">Treatment Letter</label>
                                        </div>
                                      </li>
                                      <li class="list-group-item">
                                        <!-- Default checked -->
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name ="subscriberList"id="subscriberList" [ngModel]="family?.subscriberList" #subscriberList="ngModel">
                                          <label class="custom-control-label" for="subscriberList">Subscriber List</label>
                                        </div>
                                      </li>
                                      <li class="list-group-item">
                                        <!-- Default checked -->
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name ="facebookGroup"id="facebookGroup" [ngModel]="family?.facebookGroup" #facebookGroup="ngModel">
                                          <label class="custom-control-label" for="facebookGroup">Facebook Support Group</label>
                                        </div>
                                      </li>
                                    </ul>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
